
@media(max-width:1250px){
    .header{
        padding: 28px 0 24px;
    }
    .header-top{
        margin-bottom: 16px;
        .form{
            display: none;
        } 

        &__help{
            font-size: 12px;
            line-height: 16px
        }

    }

    .menu{
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #fff;
        width: 100%;
        justify-content: center;
        padding: 40px;

        &.show{
            display: flex;
        }

        &__list{
            flex-direction: column;
            gap: 20px;

        }

        &__tablet{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
        }

        &__btn-img{
            padding: 12px 31px;
            border-radius: 100px;
            background: var(--main-white);
            cursor: pointer;
            z-index: 1;

        }
    }
}

@media(max-width:1130px){
    .product{
        &__title{
            line-height: 15px;
        }
    }
}


@media(max-width:970px){
    .products{
        &__wrapper{
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 40px;
        }
    }

    .product{
        &__buttons{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }

        &__btn{
            margin-top: 24px;
        }

        &__inner:last-child{
            display: none;
        }
    }
}

@media(max-width:785px){
    .products{
        &__wrapper{
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 40px;
            justify-items: center;
        }
    }

    .collection {
        &__wrapper{
            grid-template-columns: repeat(1,1fr);
            justify-items: center;

        }  
    }

    .product{
        &__inner:last-child{
            display: block;
        }
    }
}

@media(max-width:670px){
    .footer{
        margin-top: 32px;
        padding-bottom: 40px;
        &__logo,
        &__adress,
        &__bottom{
            display: none;
        }

        &__main{
            flex-direction: column-reverse;
            gap: 0;
        }

        &__wrapper{
            margin:  0 auto;
            text-align: center;
        }

        &__social-wrapper{
            margin-bottom: 32px;
            padding: 12px 72px;
            background-color: #F5F6F8;
            border-radius: 200px;
        }

        &__info-wrapper{
            margin-bottom: 16px;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            gap: 16px;
        }

        &__title-wrapper{
            display: flex;
            width: 288px;
            max-width: 100%;
            height: 48px;
            justify-content: space-between;
            padding: 15px 24px;
            border-radius: 200px;
            background: var(--base-gray-background);
            transition: all 0.3s ease-in-out;
            svg{
                display: inline-block;
            }

            &.open {
                background-color: var(--main-third);
                color: #fff;

                path {
                    stroke: #fff !important;
                }
            }
        }

        .footer__list{
            padding: 16px 24px;
            display: none;

            &.show {
                display: block;
            }
        }

        &__item{
            padding-bottom: 12px;
            border-bottom: 1px solid #E9E9E9;
        }

        &__shop,
        &__sell,
        &__about,
        &__help{
            width: 288px;
            max-width: 100%;
            cursor: pointer;
        }

        &__text{
            margin-bottom: 27px;
        }
    }

    .social__img{
        width: 24px;
        height: 24px;
    }

    .product{
        &__buttons{
            display: flex;
            gap: 24px;
            overflow-y: hidden;
            overflow-x: scroll;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 24px 0;
            height: 55px;
            line-height: 18px;

           &::-webkit-scrollbar {
            display:none;
           }
        }

        &__btn{
            flex-shrink: 0;
            max-width: 120px;
            margin-top: 0;

            &::after{
                bottom: -16px;
            }
        }

        &__slider{
            margin: 24px 0 49px;
            display: flex;
            justify-content: center;
            gap:8px;
        }

        &__slider-btn{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #F5F6F8;
            border: 1px solid #E9E9E9;
            padding: 0;
            outline: none;

            cursor: pointer;
            &:focus{
                background-color: var(--main-third);
            }
        }
    }
    .products__wrapper {
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }

    .product__wrapper-top {
        .product__inner {
            display: none;

            &.open {
                display: block;
            }
        }
    }
}


@media(max-width:550px){
    .header{
        padding: 32px 0 24px;
    }
    .form{
        &__select-wrapper{
            display: none;
        }

        &__input{
            padding-left: 16px  ;
        }
    }

    .header-top{
        &__help{
            display: none;
        }

        &__user-span,
        &__shop-span{
            display: none;
        }

        &__shop-bascet{
            top: -12px;
            left: 10px;
        }
    }

    .products{
        &__wrapper-another{
            grid-template-columns: repeat(4,1fr);
            overflow: scroll;
            overflow-y: hidden;
            &::-webkit-scrollbar {
                display:none;
               } 
        } 
    }

    .products__wrapper-another {
        .product {
            &__inner {
                padding: 16px;
                width: 195px;
            }
            
            &__img {
                width: 130px;
            }

            &__label {
                width: 12px;
                height: 12px;
            }

            &__title {
                margin: 38px 0 16px;
            }
        }
    }
}