:root {
    --main-white:#FFF;
    --color-text-paragraph:#292929;
    --main-third:#EB8426;
    --color-text-text: #3E3E3E;
    --color-text-subtext: #9A9A9A;
    --base-gray-background:#F5F6F8;
   --main-primary: #EB6D20;
}